@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@font-face {
       font-family: 'Sunny Spell';
       src: url('midia/Sunny Spells.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}
{
    font-family: arial;}
 body{ 
       background-image: linear-gradient(to right,#dadd15,green);}
 main{
        background-image:90deg,#D94E41,#F2A679;
        box-shadow:2px 2px 2px #D94E41;
        width: 700px;
        padding: 15px;
        margin: auto;
        text-shadow:2px 2px 2px #dadd15;
 }
h1{font-family: 'Rubik 80s Fade', cursive;
       font-size: 32px;
       font-style: normal;
       color: blue;
       background-color: white;
       font-weight: 200;
}

h3{    font-family: Sunny Spells;
}